@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

* {
  box-sizing: content-box;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .content-row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, #f9f4ee, #e6e6e6);
}

h1, h2, h3, h4 {
  font-family: 'Alfa Slab One', serif;
  color: #172f64;
  padding-bottom: 0;
  margin: 0;
  letter-spacing: 0.1em;
}

h2, h3, h4 {
color: #494956;
}

h1 { font-size: 44px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  padding-top: 0;
  margin-top: 0;
  color: #494956!important
}

.hilite {
  padding: 1px 4px;
  background-color: rgba(31,42,67,0.1);
  font-weight: 600;
}

/* for the intro para  */
.display-text {
  font-size: 1.2em;
  line-height: 1.6em;
  padding-top: 0;
  margin-top: 0;
  color: #494956!important
}

/* Style the header */
#header {
  display: block;
  vertical-align: middle;
}

#header img {padding: 20px 0;}
#header a { text-decoration: none; }
#header:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
#header nav { display: block; float: right; padding: 70px 0 10px 0;}


/* new styles */
#header nav ul {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 1.0em;
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  /* background: #1bc2a2; */
  padding: 0;
}

#header nav ul li {
  display: block;
  position: relative;
  float: left;
  /* background: #1bc2a2; */
}

/* hide the dropdowns */
#header nav li ul { display: none; }

#header nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  transition: background-color 1.2s;
}

#header nav ul li a:hover { background-color: #83cc3c; }

/* show the dropdown */
#header nav li:hover a { /* dano add, trying to add a transition to the dropdown display */
  transition: display 2s;
  /* transition: background 2s; */
}

#header nav li:hover li a { transition: background-color 1s; }

#header nav li:hover > ul {
  display: block;
  position: absolute;
}

#header nav li:hover li { float: none; }
#header nav li:hover a { background: #83cc3c; }
#header nav li:hover li a:hover { background-color: #5e932a; }
#header nav li ul li { border-top: 0; float: right;}

/* Displays second level dropdowns to the right of the first level dropdown */
#header nav ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */
#header nav ul:before,
#header nav ul:after {
}

#footer { display: block; color: #fff; background: #1f2a43; border-radius: 0 0 7px 7px; padding: 15px; font-size: 12px; text-align: center; margin-bottom: 50px;}
#footer a { color: #fff; padding: 10px; text-align: center;}

/* full-width header container for the gradient fill and top green border */
.header-fullwide {
  width: 100%;
  min-width: 200px;
  border-top: 9px solid #83cc3c;
  border-bottom: 2px solid #0a1c45;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #0a1c45, #063399);
  box-shadow: 20px 0 20px rgba(0,0,0,0.6);
}

/* static background image */
/* .header-backer {
  background-image: url('images/carbon-fibre.png');
  margin: 0;
} */

/* repeating background image */
.header-backer {
  /* background-image: url('images/carbon-fibre.png');  */
  background-image: url('images/cole-publishing-covers-montage-v1.png');
  background-repeat: no-repeat;
  border: 0;
  /* margin: 0; */
  margin: 0 0 0 40px;
}


/* sets the main content area  */
.page-width, #header {
  width: 70%;
  min-width: 200px;
  max-width: 900px;
  margin: 0 auto;
}

/* Container for flexboxes */
.content-row {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  min-width: 200px;
  margin: 8px auto;
  background: #fff;
  color: #494956;
  /* border-top: 5px solid #ccc; */
}

/* Create three unequal columns that sit next to each other */
.column {
  padding: 10px 20px 6px 20px;
}

/* Left and right column */
.column.side, .column.full {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.backer-logo {
  background-image: url("images/cp-logobug-trans-blur.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -50px -50px;
}

.button {
  font-family: 'Alfa Slab One', serif;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: background-color 0.4s; /* Safari */
  transition: background-color 0.4s;
  -webkit-transition: box-shadow 0.4s; /* Safari */
  transition: box-shadow 0.4s;
  width: 80%;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-green {
  background-color: #679827; /* Green */
  color: #fff;
}

.button-green h4 {
  color: #fff;
}

.button a:link, .button a:visited {
  color: #fff;
  text-decoration: none;
}

.button-green:hover, .button-green:active {
  background-color: #83cc3c;
  color: white;
  cursor: pointer;
}

/* pub covers boxes */
.zoombox {
  border: 1px solid #eee;
  width: 300px;
  padding: 0;
  background-color: #eee; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% auto; /* Resize the background image to cover the entire container */
  -webkit-transition: box-shadow 1.0s; /* Safari */
  transition: box-shadow 1.0s;
  -webkit-transition: background-size 2.0s ease-out; /* Safari */
  transition: background-size 2.0s ease-out;
}

/* pub covers rollovers */
.zoombox:hover {
  background-size: 110% auto;
  box-shadow: 0px 0px 70px 10px #ccc inset;
  border: 1px solid #fff;
  cursor: pointer;
}

/* special formatting for h2 pub titles */
.zoombox h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding: 10px;
  display: block;
  font-size: 1.3em;
  /* background-color: rgba(227,180,67,0.8); */
  background-color: rgba(255,255,255,0.8);
  text-align: right;
  letter-spacing: 0;
}
/* .zoombox h2:hover { */
  /* background-color: rgba(227,180,67,0.8); */
  /* color: red; */
/* } */
